/* Writing a Note Example */
body {
      background-color: #ffffff;
      font-family: "ITC Avant Garde Gothic", sans-serif;
      color: #000000;
      margin: 0;
      padding: 0;
}

.container {
      width:768px;
      height:1024px;
      margin:0 auto;
}

.box {
      margin-left: auto;
      margin-right: auto;
      width: 491px
}

.header {
      height:60px;
}

/* letter and paragraph */
.letter {
      display:flex;
      align-items: center;
}

.letter h1 {
      font-size: 449px;
      margin-left:auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
}
/* button and headline */
.headline {
      display: flex;
      align-items: baseline;
}

#button {
      width: 20px;
      height: 20px;
      background-color: #fd753f;
}
