#green-froggie {
    position: absolute;
    bottom: 64px;
    left: 310.5px;
}

#rel-lily-pad {
    position: relative;
    bottom: -379px;
    left: 86px;
}

#gold-froggie {
    /* FONT-VARIANT: JIS83; */
    position: fixed;
    left: unset;
    right: 0px;
    top: 5%;
    z-index: 3;
}

#red-froggie {
    position: static;
    top: 2739px;
    right: 0;
    z-index: 30;
    display: block;
    margin-bottom: 6px;
}
