body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 768px;
  background-color: #5C0BD6;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 25px;
  background-color: #5C0BD6;
}

.headline-box {
  padding: 0;
  width: 50%;
  margin-left: 50%;
}
          h2 {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 500;
            font-style: normal;
            color: #F8F6BE;
            margin: 0;
            padding: 0;
            font-size: 90px;
            line-height: 90px;
            text-align: right;
          }

.letter-box-Q {
  height: 340px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 100px;
}

          .letter-box-Q h1 {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 300;
            font-style: book;
            color: #03DBF3;
            line-height: 500px;
            font-size: 600px;
            padding: 0;
            margin: 0;
          }

          .letter-box-Q img {
            visibility: hidden;
            position: absolute;
            z-index: 99;
            top: -5%;
            left: -14%;
          }

          .letter-box-Q img.visible {
            visibility: visible;

          }

          .letter-box-Q #button {
            position: relative;
            z-index: 100;
            font-size: 400px;
            height: 43px;
            width: 43px;
            background-color: #EEE01B;
            margin-right: 30px;
            margin-top: 445px;
          }

.letter-box-X {
  height: 467px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 20px;
}

          .letter-box-X #info1 p {
            padding:0;
            background-color: #008282;
          }

          .letter-box-X h1 {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 300;
            font-style: normal;
            color: #03DBF3;
            line-height: 80px;
            font-size: 600px;
            height: 467px;
            padding: 0;
            margin-left: 0;
            margin-bottom: 0px;
          }

          .letter-box-X #info2 p {
            text-align: right;
            padding: 0;
            background-color: #008282;
          }

.scrollbars {
  height: 150px;
  background-color: #ecca67;
  margin-top: 80px;
  margin-bottom: 90px;
  margin-left: 0px;
}

          #capital {
            background-color: #2003fc;
          }

          #lowercase {
            background-color: #2003fc;
          }

footer {
  background-color: #bada55;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
            footer img {
              height: 95px;
              margin-right: 10px;
            }

            footer .author-heading {
              background-color: #ffffff;
            }

            footer .author-heading h3 {
              padding: 0;
              margin: 0;
            }

            footer .author-heading h4 {
              padding: 0;
              margin: 0;
            }

            footer .author-heading #intro {
              height: 20px;
            }

            footer .author-heading #citations {
              height: 20px;
            }
