body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

.container {
  width: 768px;
  background-color: #5C0BD6;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 70px;
  background-color: #31008D;
}

.click {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: #AD8CEB;
  line-height: 65px;
}

.headline-box {
  position: relative;
  top: 75px;
  z-index: 3;
  padding: 0;
  width: 50%;
  margin-left: 50%;
}
          h2 {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 700;
            font-style: bold;
            letter-spacing: .1px;
            color: #F8F6BE;
            padding: 0;
            font-size: 90px;
            line-height: 95px;
            text-align: right;
          }

.letter-box-Q {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 85px;
  margin-left: 20px;
}

          .letter-box-Q h1 {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 300;
            font-style: book;
            color: #03DBF3;
            line-height: 600px;
            font-size: 600px;
            padding: 0;
            margin: 0;
          }

          .letter-box-Q img {
            visibility: hidden;
            position: absolute;
            z-index: 99;
            top: 10.5%;
            left: -14%;
          }

          .letter-box-Q img.visible {
            visibility: visible;
          }

          .letter-box-Q #button {
            position: relative;
            z-index: 100;
            font-size: 400px;
            height: 43px;
            width: 43px;
            background-color: #EEE01B;
            margin-left: 6px;
            margin-top: 495px;
          }

.info-heading {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  letter-spacing: .1px;
  color: #F8F6BE;
  padding: 0;
  font-size: 80px;
  position: relative;
  left: 15px;
  top: 210px;
}

.letter-box-X {
  height: 467px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 130px;
  margin-left: 20px;
}

          .letter-box-X .info p {
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 300;
            font-style: book;
            font-size: 14px;
            color: #F8F6BE;
            padding:0;
          }

          .letter-box-X img {
            visibility: hidden;
            position: absolute;
            z-index: 99;
            top: -7%;
            left: 48.75%;
          }

          .letter-box-X img.visible {
            visibility: visible;
          }

          .letter-box-X h1 {
            position: relative;
            right: 25px;
            top: 160px;
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 300;
            font-style: normal;
            color: #03DBF3;
            line-height: 80px;
            font-size: 600px;
            height: 467px;
            padding: 0;
            margin: 0px;
          }

          .letter-box-X .info2 p {
            position: relative;
            right: 40px;
            font-family: itc-avant-garde-gothic-pro, sans-serif;
            font-weight: 300;
            font-style: book;
            font-size: 14px;
            color: #F8F6BE;
            text-align: right;
            padding: 0;
          }
.scrollbars {
  position: relative;
  top: 120px;
  background-color: #31008D;
}
            .scrollbars #capital {
              height: 100px;
              overflow-x: scroll;
              overflow-y: hidden;
              clear: both;
              background-color: #2003fc;
              color: #03DBF3;
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              font-size: 70px;
              letter-spacing: 5px;
            }

            .scrollbars #lowercase {
              height: 100px;
              overflow-x: scroll;
              overflow-y: hidden;
              clear: both;
              background-color: #2003fc;
              color: #03DBF3;
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              font-size: 70px;
              letter-spacing: 5px;
            }

            ::-webkit-scrollbar {
              width: 7px;
              height: 7.5px;
            }

            ::-webkit-scrollbar-track {
              background-color: #2003fc;
            }

            ::-webkit-scrollbar-thumb {
              background-color: #EEE01B;
            }

footer {
  background-color: #31008D;
  height: 570px;
  display: flex;
  margin-top: 50px;
}
            footer img {
              height: 150px;
              margin-right: 12px;
              margin-left: 18px;
              margin-top: 50px;
            }

            footer .author-heading {
              margin-top: 48px;
              margin-left: 10px;
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              color: #AD8CEB;
            }

            footer .author-heading h3 {
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              color: #F8F6BE;
              padding: 0;
              margin: 0;
            }

            footer .author-heading h4 {
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              color: #F8F6BE;
              padding: 0;
              margin: 0;
            }

            footer .author-heading #intro {
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              height: 60px;
              width: 550px;
            }

            footer .author-heading #citations {
              font-family: itc-avant-garde-gothic-pro, sans-serif;
              font-weight: 500;
              font-style: normal;
              height: 20px;
            }
