body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 768px;
  background-color: #5C0BD6;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 25px;
  background-color: #5C0BD6;
}

.headline-box {
  height: 300px;
  width: 50%;
  padding: 0;
  background-color: #FF0000;
  margin-left: 300px;
}

.letter-box {
  height: 472px;
  width: 100%;
  background-color: #FDA6F7;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

          .letter-box h1 {
            height: 472px;
            width: 483px;
            padding: 0;
            margin: 0;
            background-color: #03DBF3;
            margin-bottom: 0;
          }

          .letter-box #button {
            height: 43px;
            width: 43px;
            background-color: #7EFF7E;
            margin-left: 10px;
          }

          .letter-box p {
            height: 300px;
            width: 210px;
            padding:0;
            background-color: #008282;
            margin-bottom: 50px;
          }

.scrollbars {
  height: 150px;
  width: 400px;
  background-color: #ecca67;
  justify-content: left;
  margin-top: 40px;
  margin-left: 40px;
}

footer {
  background-color: #bada55;
  display: flex;
  margin-top: 40px;
}
            footer img {
              height: 95px;
            }

            footer .author-heading {
              height: 40px;
            }

            footer .sources {
              height: 100px;
            }
