body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 768px;
  background-color: #5C0BD6;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 25px;
}

.headline-box {
  height: 338px;
  width: 100%;
  background-color: #FF0000;
}

.letter-box {
  height: 472px;
  width: 100%;
  margin-top: 205px;
  background-color: #FDA6F7;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

          .letter-box h1 {
            height: 472px;
            width: 483px;
            padding: 0;
            margin: 0;
            background-color: #03DBF3;
            margin-bottom: 0;
          }

          .letter-box #button {
            height: 43px;
            width: 43px;
            background-color: #7EFF7E;
            margin-left: 10px;
          }

          .letter-box p {
            height: 200px;
            padding:0;
            background-color: #008282;
          }

.scrollbars {
  height: 150px;
  background-color: #ecca67;
}
footer {

}
          footer img {
            height:84px;
          }
          footer .sources {

          }
