.body {
  background-color: #000;
}

.container {
  background-image: url("Planet-Profiles-Background.png");
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  top: 20px;
  left: 685px;
  right: 0px;
}
        .header a {
          font-family: Avenir Next, sans-serif;
          font-size: 12pt;
          font-weight: 500;
          color: #fff;
          text-decoration: none;
        }

.profile-card {
  position: absolute;
  font-family: Avenir, sans-serif;
  border: solid 2px #fff;
  border-radius: 1em;
  height: 610px;
  width: 610px;
  position: relative;
  top: 40px;
  left: 80px;
  display: flex;
}
          .profile-card img {
            position: relative;
            left: -40px;
          }

          .profile-card .fact {
            height: 240px;
            position: relative;
            left: -415px;
            top: 30px;
            z-index: 1;
          }

          .profile-card h1 {
            color: #fff;
            position: relative;
            font-size: 100px;
            height: 100px;
            top: 20%;
            left: -370px;
            z-index: 10;
          }

.about {
  height: 100px;
  font-family: Avenir, sans-serif;
  display: flex;
  color: #fff;
  position: relative;
}
          .about h2 {
            font-size: 30px;
            position: relative;
            top: -250px;
            left: 115px;
          }

          .about p {
            width: 250px;
            position: relative;
            top: -240px;
            left: 170px;
          }


.wrapper {
  margin-top: 0px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
}

a {
  font-family: Avenir Next Condensed, sans-serif;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  opacity: .75;
}

.wrapper a:hover {
  color: red;
  opacity: 1;
}
