div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #fff;
  z-index: 9999999;
  transition: color 0.5s;
}

.body {
  background-color: #000;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.large-container {
  background-image: url("Solar-System-Image.png");
  width: 768px;
  height: 5000px;
  margin-left: auto;
  margin-right:auto;
}

.header {
  position: relative;
  top: 20px;
  left: 635px;
}
          .header a {
            font-family: Avenir Next, sans-serif;
            font-style: normal;
            font-size: 12pt;
            font-weight: 500;
            color: #fff;
            text-decoration: none;
          }

.title {
  font-family: Avenir, sans-serif;
  line-height: 20px;
  color: white;
  position: relative;
  top: 1%;
  right: -45px;
  text-align: right;
  width: 700px;
}
.title h2 {
  font-size: 40px;}

.title h1 {
  font-family: Nasalization;
  font-size: 80px;}

.sun,
.mercury,
.venus,
.earth,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune {
  border: solid 1px #fff;
  border-radius: .5em;
  height: 206px;
  width: 214px;
  position: relative;
  padding-top: 7px;
  padding-left: 7px;
  visibility: hidden;
}
          .sun {
            position: relative;
            top:2%;
            left:3%;
          }

          .sun p,
          .mercury p,
          .venus p,
          .earth p,
          .mars p,
          .jupiter p,
          .saturn p,
          .uranus p,
          .neptune p {
          font-family: Avenir Next, sans-serif;
          font-weight: 500;
          font-size: 12pt;
          color: #AFFF74;
          margin-top: 0;
          margin-left: 8px;
          margin-right: 8px;
          }

          .mercury a,
          .venus a,
          .earth a,
          .mars a,
          .jupiter a,
          .saturn a,
          .uranus a,
          .neptune a {
            font-family: Avenir Next Condensed, sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            position: absolute;
            bottom: 10px;
            left: 162px;
            border: solid 1px #fff;
            border-radius: .3em;
            padding: 4px;
          }



          .mercury a:hover,
          .venus a:hover,
          .earth a:hover,
          .mars a:hover,
          .jupiter a:hover,
          .saturn a:hover,
          .uranus a:hover,
          .neptune a:hover {
            background-color: red;
            color: #fff;
            cursor: pointer;
          }

.sun.visible,
.mercury.visible,
.venus.visible,
.earth.visible,
.mars.visible,
.jupiter.visible,
.saturn.visible,
.uranus.visible,
.neptune.visible {
  visibility: visible;
}

          .sun-box {
            border: solid 1px #fff;
            border-radius: .5em;
            width: 56px;
            padding: 10px;
            visibility: visible;
          }

          .sun-box:hover,
          .mercury-box:hover,
          .venus-box:hover,
          .earth-box:hover,
          .mars-box:hover,
          .jupiter-box:hover,
          .saturn-box:hover,
          .uranus-box:hover,
          .neptune-box:hover
          {
            background-color: red;
          }

          .sun-box.invisible,
          .mercury-box.invisible,
          .venus-box.invisible,
          .earth-box.invisible,
          .mars-box.invisible,
          .jupiter-box.invisible,
          .saturn-box.invisible,
          .uranus-box.invisible,
          .neptune-box.invisible {
            visibility: hidden;
          }

          .caption {
            display: flex;
            align-items: flex-start;
          }

          .sun h3,
          .mercury h3,
          .venus h3,
          .earth h3,
          .mars h3,
          .jupiter h3,
          .saturn h3,
          .uranus h3,
          .neptune h3 {
            font-family: Avenir Next Condensed, sans-serif;
            color: #ffffff;
            line-height: 12.5px;
            margin: 0;
            margin-right: 8px;
          }

          .arrow-down {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;

            border-top: 12px solid #fff;
            transform: rotate(0deg);
            transition: .5s;
          }

          .arrow-down.up-animation {
            transform: rotate(180deg);
            transition: .5s;
          }

.one {
  position: relative;
  top: 3%;
  right: -50%;
  width: 214px;
}
                    .mercury-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 95px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.two {
  position: relative;
  top: 7%;
  right: -65%;
  width: 214px;
}
                    .venus-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 73px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.three {
  position: relative;
  top: 14%;
  right: -68%;
  width: 214px;
}
                    .earth-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 72px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.four {
  position: relative;
  top: 20%;
  right: -70%;
  width: 214px;
}

                    .mars-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 69px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.five {
  position: relative;
  top: 30%;
  right: -2%;
  width: 214px;
}
                    .jupiter-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 85px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.six {
  position: relative;
  top: 40%;
  right: -2%;
  width: 214px;
}

                    .saturn-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 82px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.seven {
  position: relative;
  top: 50%;
  right: -15%;
  width: 214px;
}
                    .uranus-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 85px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }

.eight {
  position: relative;
  top: 65%;
  right: -15%;
  width: 214px;
}
                    .neptune-box {
                      border: solid 1px #fff;
                      border-radius: .5em;
                      width: 94px;
                      display: flex;
                      align-items: flex-start;
                      padding: 10px;
                      visibility: visible;
                    }
